<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.hzm.repository.MenuRepository">
    <resultMap id="menuMap" type="com.hzm.entity.Menu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="flavor" property="flavor"/>
        <association property="type" select="com.hzm.repository.TypeRepository.findById" column="tid"></association>
    </resultMap>
    <select id="findAll" resultMap="menuMap">
        select * from t_menu limit #{param1},#{param2}
    </select>
    <select id="count" resultType="int">
        select count(id) from t_menu
    </select>
    <select id="findById" parameterType="long" resultType="com.hzm.entity.Menu">
        select * from t_menu where id = #{id}
    </select>
    <insert id="save" parameterType="com.hzm.entity.Menu">
        insert into t_menu (name,price,flavor,tid) values(#{name},#{price},#{flavor},#{type.id})
    </insert>
    <update id="update" parameterType="com.hzm.entity.Menu">
        update t_menu set name = #{name},price = #{price},flavor = #{flavor},tid=#{type.id} where id = #{id}
    </update>
    <delete id="deleteById" parameterType="long">
        delete from t_menu where id = #{id}
    </delete>
</mapper>